.place-details {
    margin-top: 200px;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow-x: hidden;
}

.place-details h2 {
    font-size: 80px;
    font-weight: 500;
    margin: 0;
}

.place-details p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
}

.booking-btn {
    background: #F9A51A;
    padding: 12px 30px;
    border: 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 30px;
}

.places {
    width: 800px;
    position: absolute;
    right: 100px;

}