.place-info {
    display: flex;
    overflow: hidden;
}

.places-container {
    overflow-y: hidden;

}

.place {
    position: relative;
}

img {
    width: 270px;
    margin: 0 15px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 20px;
    border: 5px solid transparent;

}

h4 {
    position: absolute;
    margin: 0;
    left: 30px;
    bottom: 20px;
    font-size: 30px;
}

.slider-btns {
    position: absolute;
    bottom: -150px;
    margin-left: 30px;
}

.slider-btns button {
    border-radius: 50%;
    width: 47px;
    height: 47px;
    border: none;
    margin: 5px;
    cursor: pointer;
}

.active {
    transition: transform .5s ease;
}

.current-select {
    border: 5px solid rgba(251, 188, 4, 1);
}