.home-container {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../img/images/Rectangle\ 1.png');
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10000000000;
    overflow: hidden;
    
}

.container {
    width: 1120px;
    margin: 0 auto;
}