header {
    padding: 15px 0;
    z-index: 100000000000;
}

.container {
    width: 1120px;
    margin: 0 auto;
}

.navbar {

    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.nav-logo img {
    width: 120.26px;
    height: 56px;
    z-index: 100000000000;

}

.nav-search {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    border-radius: 6px;
}

.nav-search:focus {
    outline: none;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.navbar ul li {
    margin: 0 25px;
}

.navbar ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.login-btn {
    border: none;
    padding: 6px 15px;
    background-color: rgba(249, 165, 26, 1);
    font-size: 16px;
    cursor: pointer;
}

.light .nav-search {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff !important;
    color: #fff !important;
}

.light .nav-search::placeholder {
    color: #fff !important;
}

.light .navbar ul li a {
    color: #fff !important;
}

.dark .nav-search {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #333 !important;
    color: #333 !important;
}

.dark .nav-search::placeholder {
    color: #333 !important;
}

.dark .navbar ul li a {
    color: #333 !important;
}